@font-face {
    font-family: 'Open Sans Regular';
    src: url('font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('font/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'Open Sans Semi Bold';
    src: url('font/OpenSans-SemiBold.ttf');
}
:root{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Open Sans Regular' ;
    --bg-light : #f8f9fa;
    --dark-blue-60: #0713307e;
    --dark-blue: #050A30;
    --navy-blue:#000C66;
    --baby-blue:#7EC8E3;
    --grey:#7A7A7A;
}
body, html {
    height: 100%;
    font-family: 'Open Sans Regular' ;
    margin: 0;
}
ul{
    margin: 0px;
    text-align: center;
}
nav{
    position: fixed;
    top: 0;
    font-family: 'Open Sans Bold';
    font-size: 14px;
    width: 100%;
    left: 0;
    z-index: 10;
    padding: 8px 0px;
}
nav li{
    display: inline-block;
}
nav li .nav-item{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: var(--bg-light);
    text-transform: uppercase;
}
nav li .nav-item.active{
    border-bottom: 2px solid white;
}
nav li .nav-item:hover{
    border-bottom: 2px solid white;
}

.parallax {
    /* The image used */
    background-image: url('images/image2.jpeg');
    filter: blur(8px);
    -webkit-filter: blur(5px);
    /* Full height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
      /* Add the blur effect */
   
}
.inner-parallax{
    position: absolute;
    top: 0;
    height: 100vh;
    right: 0;
    left: 0;
    background-color: var(--dark-blue-60);
    
}
.title-wrapper{
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
}
.title{
    color: white;
    font-family: 'Open Sans Semi Bold';
    font-size: 5rem;
    text-align: center;
}
.subtitle{
    text-align: center;
    margin-top: 5px;
    color: var(--bg-light);
    font-size: 2rem;
}
.typewrite .wrap{
    border-right: 0.1em solid var(--bg-light);
    padding-right: 2px;
    color: var(--bg-light);
}
.content-wrapper{
    min-height: 100vh;
}
.content-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
#blog{
    /* background-color: var(--baby-blue); */
}
#contact,
#about{
    background-color: var(--bg-light);
}
#resume{
    background-color: var(--navy-blue);
}
.resume-title,
.work-title{
    font-family: 'Open Sans Semi Bold';
    letter-spacing: 1.1px;
    font-size: 24px;
    display: inline-block;   
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--bg-light);
}
.about-title{
    color: black;
    font-family: 'Open Sans Semi Bold';
    letter-spacing: 1.1px;
    font-size: 24px;   
    text-transform: uppercase;
}
.about-desc{
    line-height: 30px;
    margin-top: 20px;
}
.education-item,.work-item{
    margin-bottom: 40px;
    color: var(--bg-light);
}
.college-name , .company-name{
    font-size: 24px;
    color: var(--bg-light);
    font-family: 'Open Sans Semi Bold';
}

.course-period , .work-period{
    font-size: 12px;
    font-style: italic;
}
.course-grade{
    font-size: 12px;
    text-transform: uppercase;
}

footer{
    padding: 10px;
    background-color: var(--dark-blue);
    margin: 0;
    font-size: 14px;
    text-align: center;
    color:#dfdfdf;
}
.social-icon{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 19px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    margin: 25px 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.205);
}
.social-icon:hover{
    text-decoration: none;
    color: blue;
}